<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <title th:text="#{label.pages.transaction.add}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/scripts/jquery.inputmask.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container col-sm-4">
        <h3 th:text="#{label.pages.transaction.add}"/>
        <hr/>
        <form action="#" th:action="@{save}" th:object="${transactionForm}" th:method="${id == null} ? 'POST' : 'PUT'">
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
            </ul>
            <input type="text" th:field="*{id}" th:readonly="true" class="form-control col-4 mb-4"/>
            <select th:field="*{type}" class="form-control col-4 mb-4" th:required="required">
                <option th:each="t : ${T(ir.mvbdx.mywallet.model.enums.TransactionType).values()}" th:value="${t}"
                        th:text="${t.getDisplayValue()}"/>
            </select>
            <div th:with="condition=${accounts.empty}">
                <h6 th:if="${condition}" class="form-control col-4 mb-4" th:text="#{label.pages.transaction.no.account}"/>
                <select th:unless="${condition}" th:field="*{account}" class="form-control col-4 mb-4"
                        th:required="required">
                    <option value="" selected="selected" th:text="#{label.pages.transaction.select.account}"/>
                    <option th:each="a : ${accounts}" th:value="${a.id}"
                            th:text="${a.name + ' (' + #numbers.formatDecimal(a.balance, 0, 'COMMA', 0, 'POINT') + ')'}"/>
                </select>
            </div>
            <div th:with="condition=${categories.empty}">
                <h6 th:if="${condition}" class="form-control col-4 mb-4" th:text="#{label.pages.transaction.no.category}"/>
                <select th:unless="${condition}" th:field="*{category}" class="form-control col-4 mb-4"
                        th:required="required">
                    <option value="" selected="selected" th:text="#{label.pages.transaction.select.category}"/>
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"/>
                </select>
            </div>
            <input type="text" th:field="*{name}" class="form-control col-4 mb-4" th:required="required"
                   th:placeholder="#{label.pages.transaction.enter.name}"/>
            <input type="text" th:field="*{note}" class="form-control col-4 mb-4" th:placeholder="#{label.pages.transaction.enter.note}"/>
            <input type="number" th:field="*{amount}" class="form-control col-4 mb-4" th:required="required"
                   th:placeholder="#{label.pages.transaction.enter.amount}"/>
            <!--               data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '﷼ '"-->
            <input type="date" th:field="*{date}" class="form-control col-4 mb-4" th:required="required"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            <button type="submit" th:disabled="${accounts.empty || categories.empty}" class="btn btn-success"
                    th:text="#{label.pages.action.save}"/>
            <a th:href="@{/transaction/list}" class="btn btn-warning" th:text="#{label.pages.action.cancel}"/>
        </form>
        <hr/>
    </div>
    <script>
        $(":input").inputmask();
    </script>
</div>
</body>
</html>