<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Transactions</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Transactions</h3>

    <hr/>
    <a th:href="@{new}" class="btn btn-primary">Add Transaction</a>
    <br/><br/>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Amount</th>
            <th>Note</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.amount}" />
            <td th:text="${transaction.note}" />
            <td th:text="${transaction.date}" />
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>