<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<head>
    <title>List Transactions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="content">
<div class="container">
<!--    <h3 th:text="#{label.pages.transaction.title}"/>-->
    <table class="table table-striped table-hover table-sm table-bordered">
        <thead>
        <tr>
            <th th:text="#{label.pages.transaction.name}"/>
            <th th:text="#{label.pages.transaction.amount}"/>
            <th th:width="40px" th:class="text-center" th:text="#{label.pages.transaction.type}"/>
            <th th:text="#{label.pages.transaction.account}"/>
            <th th:text="#{label.pages.transaction.category}"/>
            <th th:text="#{label.pages.transaction.note}"/>
            <th th:width="92px" th:class="text-center" th:text="#{label.pages.transaction.date}"/>
            <th th:width="135px" th:class="text-center" th:text="#{label.pages.action}"/>
        </tr>
        </thead>
        <tbody>
        <tr style="vertical-align: middle" th:each="transaction: ${transactions.page}">
            <td th:text="${transaction.name}"/>
            <td th:text="${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 0, 'POINT')}"/>
            <td th:class="text-center">
                <img th:src="${transaction.type == transaction.type.WITHDRAW ? '/images/withdraw.png' :
                    (transaction.type == transaction.type.DEPOSIT ? '/images/deposit.png' : '/images/transfer.png')}"/>
            </td>
            <td th:width="5px" th:text="${transaction.account.getName()}"/>
            <td th:width="5px" th:text="${transaction.category.getName()}"/>
            <td th:text="${transaction.note}" th:dir="rtl"/>
            <td th:class="text-center" th:text="${transaction.date}"/>
            <td th:class="text-center">
                <a th:href="@{edit/{id}(id=${transaction.id})}" class="btn btn-sm btn-primary"
                   th:text="#{label.pages.action.update}"/>
                <a th:href="@{'delete/{id}'(id=${transaction.id})}" class="btn btn-sm btn-danger"
                   onClick="return confirm('Are you sure to delete this transaction?')"
                   th:text="#{label.pages.action.delete}"/>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td style="background-color: black; color: yellow" th:text="#{label.pages.transaction.footer.total}"/>
            <td th:text="#{label.pages.transaction.footer.income} + ': ' + ${#numbers.formatDecimal(totalIncome, 0, 'COMMA', 0, 'POINT')}"
                th:style="'color:white; background-color:green'"></td>
            <td th:text="#{label.pages.transaction.footer.spend} + ': ' + ${#numbers.formatDecimal(totalSpend, 0, 'COMMA', 0, 'POINT')}"
                th:style="'color:black; background-color:red'"></td>
            <td th:text="#{label.pages.transaction.footer.balance} + ': ' + ${#numbers.formatDecimal(totalBalance, 0, 'COMMA', 0, 'POINT')}"
                th:style="'color:blue; background-color:deepskyblue'"></td>
            <td th:text="#{label.pages.transaction.footer.stock} + ': ' + ${#numbers.formatDecimal(totalAccountsBalance, 0, 'COMMA', 0, 'POINT')}"
                th:style="'color:white; background-color:lightgreen'"></td>
        </tr>
        </tfoot>
    </table>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${transactions.page.totalPages > 1}">
            <a th:href="@{new}" class="btn btn-primary" th:text="#{label.pages.transaction.add}"/>

            <li class="page-item" th:classappend="${!transactions.paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/transaction/list?pageNumber=' + ${transactions.paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${transactions.paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == transactions.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <a class="page-link" th:href="@{'/transaction/list?pageNumber=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!transactions.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/transaction/list?pageNumber=' + ${transactions.paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</div>
</body>
</html>