<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<head>
    <title th:text="#{label.pages.category.add}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="content">
    <div class="container col-sm-4">
        <h3 th:text="#{label.pages.category.add}"/>
        <hr/>
        <form action="#" th:action="@{save}" th:object="${categoryForm}" th:method="${id == null} ? 'POST' : 'PUT'">
            <input type="text" th:field="*{id}" th:readonly="true" class="form-control col-4 mb-4"/>
            <div th:with="condition=${categories.empty}">
                <h6 th:if="${condition}" class="form-control col-4 mb-4">No Category.</h6>
                <select th:unless="${condition}" th:field="*{parentCategory}" class="form-control col-4 mb-4">
                    <option value="" selected="selected" th:text="#{label.pages.category.parent}"/>
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"/>
                </select>
            </div>
            <input type="text" th:field="*{name}" class="form-control col-4 mb-4" th:placeholder="#{label.pages.category.enter}"/>
            <button type="submit" class="btn btn-success" th:text="#{label.pages.action.save}"/>
            <a th:href="@{/category/list}" class="btn btn-warning" th:text="#{label.pages.action.cancel}"/>
        </form>
        <hr/>
    </div>
</div>
</body>
</html>