<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Categories</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h3>List of Categories</h3>
    <hr/>
    <a th:href="@{new}" class="btn btn-primary">Add Category</a>
    <br/><br/>
    <table class="table table-responsive table-striped table-hover table-sm table-bordered">
        <thead>
        <tr>
            <th th:width="40px">ID</th>
            <th>Name</th>
            <th th:width="125px" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr style="vertical-align: middle" th:each="category: ${categories}">
            <td th:text="${category.id}"/>
            <td th:text="${category.name}"/>
            <td>
                <a th:href="@{edit/{id}(id=${category.id})}" class="btn btn-sm btn-primary">Update</a>
                <a th:href="@{'delete/{id}'(id=${category.id})}" class="btn btn-sm btn-danger"
                   onClick="return confirm('Are you sure to delete this account?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/">Back to Home</a>
</div>
</body>
</html>