<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="index">
<head>
    <title>List Categories</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/__(${@environment.getProperty('webjar.bootstrap.version')})__/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <table class="table table-responsive table-striped table-hover table-sm table-bordered">
            <thead>
            <tr>
                <th th:width="40px" th:text="#{label.pages.category.id}"/>
                <th th:text="#{label.pages.category.name}"/>
                <th th:width="125px" class="text-center" th:text="#{label.pages.action}"/>
            </tr>
            </thead>
            <tbody>
            <tr style="vertical-align: middle" th:each="category: ${categories}">
                <td th:text="${category.id}"/>
                <td th:text="${category.name}"/>
                <td th:class="text-center">
                    <a th:href="@{edit/{id}(id=${category.id})}" class="btn btn-sm btn-primary"
                       th:text="#{label.pages.action.update}"/>
                    <a th:href="@{'delete/{id}'(id=${category.id})}" class="btn btn-sm btn-danger"
                       onClick="return confirm('Are you sure to delete this category?')"
                       th:text="#{label.pages.action.delete}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{new}" class="btn btn-sm btn-success" th:text="#{label.pages.category.add}"/>
    </div>
</div>
</body>
</html>