<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyWallet</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h3>Welcome to MyWallet!</h3>
    <a th:href="@{/account/list}" class="btn btn-primary">Accounts</a>
    <a th:href="@{/category/list}" class="btn btn-primary">Categories</a>
    <a th:href="@{/transaction/list}" class="btn btn-primary">Transactions</a>
</div>
</body>
</html>