<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form th:action="@{/result}" method="post" th:object="${customerDTO}">
        <label>E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>
        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>
        <label>First name:</label>
        <input type="text" th:field="*{firstName}" /><br/>
        <label>Last name:</label>
        <input type="text" th:field="*{lastName}" /><br/>
        <label>Role:</label>
<!--        <select th:field="*{roles}" class="form-control col-4 mb-4">-->
<!--            <option value="" selected="selected">Select User Type</option>-->
<!--            <option th:each="t : ${T(ir.mvbdx.mywallet.enumeration.UserType).values()}" th:value="${t}"-->
<!--                    th:text="${t.getDisplayValue()}"/>-->
<!--        </select>-->
        <br/>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>